<div id="<%= dom_id schedule %>">
  <p>
    <strong>Origin:</strong>
    <%= schedule.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= schedule.destination %>
  </p>


#edit schetime name to arriving
  <p>
    <strong>Arriving:</strong>
    <%= schedule.schetime %>
  </p>

</div>
