<div id="<%= dom_id schedule %>">
  <p>
    <strong>Origin:</strong>
    <%= schedule.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= schedule.destination %>
  </p>

  <p>
    <strong>Arriving:</strong>
    <%= schedule.schetime.strftime('%H:%M:%S') %>
  </p>

</div>
